.creater-main {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
}

.creater-sub1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}

.creater-wrap {
  width: fit-content;
  margin: 0 auto;
}

.input {
  border: 1.5px solid rgb(33, 42, 62);
  width: 25vmax;
  height: 3vmin;
  padding: .9rem;
  border-radius: 1rem;
  background: #e8e8e8;
  transition: 0.3s;
  /* margin-top: 2vh; */
}

input:hover {
  outline-color: #FA9F42;
  background: rgb(243, 239, 239);
  transition: 0.3s;
}


.creater-btn1 {
  margin: 1%;
  padding: 1vmin;
  position: absolute;
  right: 4vmin;
  height: 6vmin;
  width: 18vmin;
  background-color: #5ACEC9;
  color: white;
  font-size: 2.5vmin;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 900;
  border-radius: 5vmin;
  cursor: pointer;
}

.creater-main2{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1vmin;
}
.creater-sub2 {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 50vw;
  justify-content: center;
  /* align-items: center; */
  background-color: #FA9F42;
  border: 2px solid rgb(33, 42, 62);
  margin: auto;
}

.creater-img {
  margin: 1rem;
}

.creater-IMG {
  height: 25vmin;
  width: 33vmin;
}

.creater-hp {
  margin: .3rem;
  text-align: left;
}

.creater-h1 {
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
}

.creater-para {
  font-size: 1rem;
  min-height: 10vh;
  /* min-width: 32vw; */
  color: #251401;
}

.creater-btn {
  text-align: right;
  margin-top: 3vmin;
  /* align-items: flex-end; */
}

.creater-div-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.creater-btn-2 {
  background-color: #0a0500;
  width: fit-content;
  border-radius: none;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
}
.creater-btn-3{
  background-color: #0a0500;
  width: fit-content;
  border-radius: none;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  margin: auto;
}

.creater-sub3{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.creater-name{
  margin: 2%;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
  font-style: italic;
}

@media screen and (max-width:1275px) {
  .creater-sub2 {
    display: flex;
    flex-direction: column;
    width: 40vw;
  }

  .creater-IMG {
    height: 20vmin;
    width: 28vw;
  }

  .creater-para {
    font-size: 0.9rem;
  }

  .creater-h1 {
    font-size: 1.5rem;
  }
  .creater-btn1 {
    margin-top: 8vw;
    /* position: fixed; */
  }
}